/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    background-color: #c2bfbf;
    color: #fff;
}

/* Estilos da página */
header {
    background-color: #42B983;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header h1{
    font-weight: 600;
    font-size: 40px;
}
.nav-item{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin: 10px;
}
.nav-item:hover{
    color: #ffffffc7;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*  */
#titOfertas{
    text-align: center;
    color: #333;
    padding: 20px;
    font-weight: 700;
}
/* Seção ofertas */
section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 10px;
    grid-row-gap: 10px;
} 
.oferta-item{
    padding: 30px;
    display: grid;
    border: #333 5px solid;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffffbb;
}
.oferta-item img{
    width: 260px;
    height: 200px;
    border-radius: 10px;
}
#innerOf{
    padding-top: 25px;
}
.prd-title{
    color: #333;
    font-weight: 500;
    margin-left: 10px;
}
.prd-ende{
    color: #333;
    font-weight: 500;
    margin-left: 10px;
}
.prd-pessoa{
    color: #0b6153;
    font-weight: 700;
    margin-left: 10px;
}
.btn {
    background-color: #42B983;
    font-size: 19px;
    border: none;
    padding: 10px;
    box-shadow: #333 2px 5px 5px;
    border-radius: 15px;
    margin-top: 15px;
}

.btn:hover{
    background-color: #42b9837e;
    cursor: pointer;
}

#btn-container{
    text-align: center;
    padding-top: 15px;
}
/* Logos */
.whatsapp-link{
    position: fixed;
	width: 60px;
	height: 60px;
	bottom: 60px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}
.fa-whatsapp {
    margin-top: 16px;
}
/* Media queries */
@media screen and (max-width: 1700px) {
    main {
        display: block;  
    }
    section{
        margin: 0;
    }
    .oferta-item{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
}