/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 22px;
    background-color: #c2bfbf;
    color: #fff;
}

/* Estilos da página */
header {
    background-color: #42B983;
    color: #fff;
    text-align: center;
    padding: 20px;
}
header h1{
    font-weight: 600;
    font-size: 40px;
}
.nav-item{
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    margin: 10px;
}
.nav-item:hover{
    color: #ffffffc7;
}
main {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Estilos para as seções */
section {
    margin-bottom: 30px;
}
/* Sobre */
#sobre{
    padding: 90px;
}
#sobre h2{
    color: #000;
    font-weight: bold;
} 
#sobre p{
    font-weight: 700;
    color:#333;
}
#recycleImg{
    width: 250px;
    height: 250px;
    float: right;
}
/* Info */
#info{
    position: relative;
    padding: 90px;
    text-align: right;
    background-color: #3c556b;
}
#info h2{
    color: #3dc789;
    font-weight: bold;
    text-align: right;
}
#info p{
    font-weight: 700;
}
#recycleImg2{
    position: absolute;
    left: 50px;
    width: 250px;
    height: 250px;
    margin-top: -9.5%;
}
/* Info 2 */
#info2{
    padding: 90px;
    text-align: left;
}
#info2 h2{
    color: #000;
    font-weight: bold;
}
#info2 p{
    font-weight: 700;
    color: #333;
}
#recycleImg3{
    float: right;
    width: 250px;
    height: 250px;
    margin-top: -11%;
}
/* Info3 */
#info3{
    background-color: #3c556b;
    padding: 90px;
}
#info3 h2{
    color: #3dc789;
    font-weight: bold;
}
#info3 p{
    font-weight: 700;
}
summary{
    font-size: 27px;
    font-weight: 600;
}
/* Mapa */
#mapa{
    text-align: center;
}
#mapa h2{
    font-weight: bold;
    padding: 15px;
    color: #000;
}
/* FAQ */

/* Back to top */
#backTop{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
#backTop button{
    border: none;
    background-color: #3c556b;
    border-radius: 15px;
    padding: 16px;
}
#backTop a{
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}
/* Logos */
.whatsapp-link{
    position: fixed;
	width: 60px;
	height: 60px;
	bottom: 60px;
	right: 40px;
	background-color: #25d366;
	color: #fff;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 1px 1px 2px #888;
	z-index: 1000;
}
.fa-whatsapp {
    margin-top: 16px;
}
/* Media queries */
/* Abaixo de 1400px */
@media screen and (max-width: 1400px) {
    main {
        display: block;  
    }
    #recycleImg, #recycleImg2, #recycleImg3{
        width: 40vh;
        height: 40vh;
    }
    #info{
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 90px;
        background-color: #3c556b;
    }
    #info p{
        font-weight: 700;
        font-size: 22px;
    }
    #recycleImg2{
        width: 250px;
        height: 250px;
        position: static;
        margin-top: -9.5%;
    }
    iframe{
        max-width: 320px;
        height: 50vh;
        margin: 0 auto;
    }
    section{
        margin: 0;
    }
    #sobre, #info, #info2, #info3{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    img#recycleImg,#recycleImg2{
        margin: auto;
        padding: 20px;
    }
    img#recycleImg3{
        margin: auto;
        margin-top: -60px;
    }
}
/* Acima de 1401px */
@media screen and (min-width:1401px) {
    main {
        display: block;  
    }
    iframe{
        width: 120vh;
        height: 50vh;
    }
    section{
        margin: 0;
        font-size: 18px;
        word-break: break-all;
    }
    #sobre, #info, #info2, #info3{
        display: block;
        flex-wrap: wrap;
        padding: 90px;
    }
    #recycleImg{
        width: 200px;
        height: 200px;
        margin-top: -12%;
    }
    #recycleImg2{
        width: 200px;
        height: 200px;
        margin-top: -10%;
    }
    #recycleImg3{
        width: 200px;
        height: 200px;
        margin-top: -12.5%;
    }
    
}
/* Acima de 1700px */
@media screen and (min-width: 1700px) {
    #recycleImg{
        width: 230px;
        height: 230px;
        margin-top: -13%;
    }
    #recycleImg2{
        width: 230px;
        height: 230px;
        margin-top: -10%;
    }
    #recycleImg3{
        width: 240px;
        height: 240px;
        margin-top: -12.5%;
    }
}
/* Acima de 1800px */
@media screen and (min-width: 1800px) {
    #recycleImg{
        width: 240px;
        height: 240px;
        margin-top: -11%;
    }
    #recycleImg2{
        width: 240px;
        height: 240px;
        margin-top: -8.5%;
    }
    #recycleImg3{
        width: 240px;
        height: 240px;
        margin-top: -10.5%;
    }
}